.scroll-top {
  position: fixed;

  bottom: 1rem;
  right: 5%;

  width: 2.5rem;
  height: 2.5rem;

  padding: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: none;

background-color: rgba(57, 59, 63, 0.837);

  color: #28d8ff;
  font-size: 2rem;
  line-height: 1;

  text-decoration: none;

  transition:
    opacity 0.3s,
    transform 0.25s ease,
    box-shadow 0.25s ease;

  z-index: 999;

  opacity: 0;
}

.scroll-top:hover {
  transform: translateY(-2px);

  box-shadow: 0 0 6px rgba(40, 216, 255, 0.79);
}

.scroll-top.show {
  opacity: 1;
}