.project-background {
  background: linear-gradient(90deg, #001f39 0%, #14324e 100%);
  border-radius: 8px;
}

/* Contenedor principal centrado */
.project-full {
  display: flex;
  flex-direction: column; 
  gap: 2rem;

 
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 20rem;
}

/* Contenedor de cabecera + descripción + carrusel */
.project-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Descripción */
.proyect-description {
  flex: 1 1 100%;
  max-width: 300px;
  padding: 0 1rem;
  text-align: left;
}

.proyect-description button {
  margin-top: 1rem;
  padding: 10px;
}

/* Carrusel de imágenes */
.projects-carousel {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

/* Video en carrusel */

.projects-video {
 
  width: 100%;
  min-height: 500px;
  position: relative;
  height:100%;
  
  
}

.projects-video video {
  width: 1300px;       
  max-width: 100%;   
  height:100%;     
  border-radius: 8px;
  display: block;
  margin: 0 auto; 
  min-height: 500px;   
  object-fit: cover;   
}

/* Ajuste de imágenes del carrusel */
.projects-carousel img {
  width: 100%;       
  max-width: 100%;   
  border-radius: 8px;
  display: block;
  margin: 0; 
  min-height: 500px;   
  object-fit: cover;  
}

/* Carrusel: estilo de flechas */
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Transición de items del carrusel */
.carousel-item {
  transition: transform 0.3s ease-in-out;
}

/* Header de proyecto */
.project-header {
  margin-bottom: 2rem;
}

/* --- RESPONSIVE --- */
/* --- RESPONSIVE --- */
@media screen and (min-width: 900px) {



  .project-content {
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 2rem; /* separa descripción y carrusel */
  }

  .proyect-description {
    flex: 1 1 30%;  
    max-width: 400px;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .projects-carousel {
    flex: 0 0 800px; /* ancho fijo para el carrusel */
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.projects-page {
  margin-top: 20rem;
}

@media screen and (max-width: 900px) {
  .project-content {
    align-items: flex-start;
  } 

  .project-full{
    margin-top: -10rem;
  }

  .proyect-description {
    max-width: 100%;
    padding: 0;
  }

  .proyect-description button {
    align-self: flex-start;
  }
}
