#tech-link {
  margin-bottom: 4%; 
}

.tech {
  margin-top: 0.5rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem; 
}

.tech-header{
  display: flex;
  justify-content: center;
  font-size: 1.5rem; 
  font-weight: bold;
  color: #fff; 
  text-align: center;
  align-items: center;
  gap: 12px; 
  line-height: 1.2; 
  margin-bottom: 7rem; 
}

#tech-page{
  margin-top: 10rem; 
  background-color: rgb(241, 241, 241);
  padding-top: 4rem;  
  padding-bottom: 4rem;  
  border-radius: 8px;
}

.tech img {
  width: 40px;  
  height: 40px; 
  margin-right: 15px; 
  transition: ease-in-out 300ms;
}

.tech img:hover {
  transform: scale(1.05); 
}

.tech-group {
  text-align: center;
  padding: 1.5rem; 
  border-radius: 12px; 
  background: rgba(255, 255, 255, 0.03); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); 
  max-width: 1200px; 
  margin: 0 auto;
  margin-top: 3rem; 
  backdrop-filter: blur(8px);
  background-color: #f6f5f5;
}

.tech-group h4 {
  margin-bottom: 1rem; 
  font-size: 1.1rem; 
}

/* Responsive */
@media screen and (max-width: 500px) {
  .tech img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

  #tech-page {
    margin-top: -5rem; 
    margin-bottom: 10rem;
  }

  .tech {
    margin-bottom: 2rem;
  }

  .tech-group h4 {
    margin-bottom: 0.5rem;
  }
}
